<div class="body">
  <img src="../assets/images/icons8-red-card-80.png" />
  <label *ngIf="!gameCompleted">{{duration}}</label>
  <div class="container" *ngIf="!gameCompleted">
    <section *ngFor="let card of cards">
      <div class="card" [ngClass]="{'card-outline': card.reveal, 'card-matched': card.matched }" (click)="touch(card)">
        <label [hidden]="!card.reveal" [ngClass]="{'card-matched': card.matched }">{{card.value}}</label>
      </div>
    </section>
  </div>
  <div class="game-over" *ngIf="gameCompleted">
    <label class="desc">Game Over</label>
    <label class="time">{{duration}}</label>
    <img src="../assets/images/repeat.png" class="reset" (click)="resetGame()">
  </div>
</div>