.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.head {
  align-self: flex-start;
  display: flex;
}

img {
  margin: 24px;
}

.head > label {
  align-self: center;
  margin: 20px;
  background-color: antiquewhite;
  padding: 10px 16px;
  border-radius: 10px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.actions > img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 20px;
}

.container {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 80%;
  padding: 24px;
  margin: 24px 0;
  border-radius: 10px;
}

.card {
  width: 100px;
  height: 100px;
  margin: 8px;
  cursor: pointer;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  transition: transform 1s;
}

.card-outline {
  border: 1px solid cornflowerblue;
  background-color: antiquewhite;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-matched {
  border: 1px solid mediumaquamarine;
  background-color: mediumaquamarine;
}

label {
  font-size: 2rem;
  color: cornflowerblue;
}

label.card-matched {
  color: white;
}

.card > label {
  transform: rotateY(180deg);
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over > .desc {
  margin: 24px;
}

.game-over > .time {
  font-size: 3rem;
  margin: 16px;
  background-color: dodgerblue;
  padding: 32px;
  border-radius: 8px;
  color: white;
}

.game-over > .reset {
  width: 100px;
  height: 100px;
  align-self: center;
  cursor: pointer;
}
